@font-face  {
    src: url("../fonts/Digitall.ttf");
}

@font-face  {
    src: url("../fonts/yukarimobil.ttf");
}

@font-face  {
    src: url("../fonts/IndieFlower.ttf");
}

@font-face {
    src: url("../fonts/sf-outer-limits.regular.ttf");
}
.statspane {
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-font-size: 20pt;
    -fx-background-color: rgba(158, 158, 158, 0.73);
}

.stats-header {
    -fx-border-color: green;
    -fx-font-size: 20pt;
    -fx-border-width: 5;
    -fx-border-insets: 5 5 5 5;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.stats-box {
    -fx-font-size: 20pt;
    -fx-padding: 5;
}

.stat-name {
    -fx-font-size: 12pt;
    -fx-border-width: 5;
}

.stat-value {
    -fx-font-size: 18pt;
    -fx-border-width: 5;
}

.stat-mod {
    -fx-border-width: 5;
    -fx-font-size: 18pt;
    -fx-border-color: green;
}

.title-text {
    -fx-font-size: 18pt;
}
.text-area {
    -fx-border-color: black;
    -fx-border-width: 5;
    -fx-border-radius: 15;
    -fx-padding: 25;
    -fx-font-size: 12pt;
}

.button {
    -fx-border-radius: 30;
    -fx-background-radius: 30;
}

.back-button {
    -fx-font-size: 18pt;
    -fx-border-color: gray;
    -fx-border-width: 3;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.character-class {
    -fx-font-size: 18pt;
    -fx-border-color: gray;
    -fx-border-width: 3;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}